---
layout : tataletak.njk
---

<h3> Gallery Page </h3>
<div class="flex-container">
  <img src="/assets/img/itera.png" alt="Profile Photo">
  <img src="/assets/img/nunjuck.jpg" alt="Profile Photo">
  <img src="/assets/img/python.png" alt="Profile Photo">
</div>