---
layout : tataletak.njk
namakamu : Rivaldo Fernandes
---

<!--Sidebar Component-->
<div class="sidebar-wrapper">
  <div class="sidebar">
      <div class="sidebar__logo">
          <h3> About Me ! </h3>
      </div>
      <div class="sidebar__profile">
          <img src="/assets/img/profile.webp" alt="Profile Photo">
        <h4>Rivaldo Fernandes</h4>
        <h4>14117103</h4>
      </div>
  </div>
</div>